{% extends "front/base.html.twig" %}

{% block title %}Liste des films{% endblock %}

{% block body %}

<h1>Liste des films</h1>

<p><a href="{{ path('admin_add_movie') }}" class="btn btn-success">Nouveau film</a></p>

{# https://getbootstrap.com/docs/5.0/content/tables/ #}
<table class="table table-hover table-striped">
  {# En-têtes du tableau #}
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Titre</th>
      <th scope="col">Date de publication</th>
      <th scope="col">actions</th>
    </tr>
  </thead>
  <tbody>

  {# On boucle sur les films #}
    {% for movie in movies %}        
    <tr>
      <th scope="row">{{ movie.id }}</th>
      <td><a href="{{ path('admin_read', {id: movie.id}) }}">{{ movie.title }}</a></td>
      {# @see https://www.php.net/manual/fr/datetime.format.php#refsect1-datetime.format-parameters #}
      <td>{{ movie.createdAt|date('d-m-Y H:i') }}</td>
      <td>
          <a class="btn btn-sm btn-primary" href="{{ path('admin_edit_movie', {id: movie.id}) }}">Modifier</a>
          <a class="btn btn-sm btn-danger" href="{{ path('admin_delete_movie', {id: movie.id}) }}" onclick="return confirm('Voulez-vous supprimez : {{ movie.title|e('js') }} ?')">Supprimer</a>
      </td>
    </tr>
    {% endfor %}
      </tbody>
</table>

{% endblock %}
